.fixed
  %nav.top-bar
    %ul
      %li
        = image_tag @user.image_url
      %li.name
        = link_to "@#{@user.twitter_name}'s Tweetbox", user_path(@user.twitter_name)
    %section
      %ul.right
        %li.welcome
          - unless current_user
            = link_to "Sign in with Twitter", "/auth/twitter"
