%nav.top-bar
  %ul
    %li.name
      %h1
        = link_to "The Tweetbox", root_path
  %section
    %ul.right
      - if current_user
        %li
          = link_to "Welcome @#{current_user.twitter_name}!", user_path(current_user.twitter_name)
      - else
        = link_to "Sign in with Twitter", "/auth/twitter"
